---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  revisionHistoryLimit: 12
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 20%
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: gitlab-regcred
      containers:
        - name: backend
          image: gitlab.praktikum-services.ru:5050/std-042-36/sausage-store/sausage-backend:1.0.2640813
          envFrom:
            - secretRef:
                name: backend-secrets
          ports:
            - containerPort: 8080